.btn-blue{
	background-color: rgb(204, 163, 159);
	padding:15px 20px;
	border-radius:4px;
	color:rgb(199, 84, 70);
	font-weight: bold;
	font-family: 'Lora', serif;
}

.btn-blue:hover{
	background-color:rgb(199, 84, 70);
	color: rgb(204, 163, 159);
}

.list-inline{
	list-style:none;
	padding-left:0px;
}

.list-inline li{
	display:inline;
	padding:10px;
}

.list-inline i{
	font-size: 50px;
	color: rgb(204, 163, 159);
}

.list-inline i:hover{
	color:rgb(199, 84, 70);
}